[tool.poetry]
name = "datapipe-core"
version = "0.11.0-beta.7"
description = ""
authors = ["Andrey Tatarinov <a@tatarinov.co>"]
packages = [
    { include = "datapipe" }
]

[tool.poetry.dependencies]
python = "^3.8"
fsspec = ">=2021.11.1"

gcsfs = {version=">=2021.11.1", optional=true}
s3fs = {version=">=2021.11.1", optional=true}

pandas = "^1.2.0"
numpy = "^1.21.0"
SQLAlchemy = "^1.4.25"
psycopg2_binary = ">=2.8.4"
cloudpickle = ">=1.6.0"
PyYAML = ">=5.3.1"
Pillow = "^9.0.0"
tqdm = ">=4.60.0"
iteration-utilities = ">=0.11.0"
cityhash = "^0.2.3"

pymilvus = {version="^2.0.2", optional=true}

opentelemetry-api = "^1.8.0"
opentelemetry-sdk = "^1.8.0"
opentelemetry-instrumentation-sqlalchemy = "^0.27b0"
opentelemetry-exporter-jaeger = {version="^1.8.0", optional=true}

xlrd = {version=">=2.0.1", optional=true}
openpyxl = {version=">=3.0.7", optional=true}

[tool.poetry.extras]

excel = ["xlrd", "openpyxl"]
milvus = ["pymilvus"]
opentelemetry = ["opentelemetry-exporter-jaeger"]
gcsfs = ["gcsfs"]
s3fs = ["s3fs"]

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
flake8 = "^3.9.2"
mypy = "^0.910"
black = "^22.3.0"
pandas-stubs = "^1.2.0"
pytest-cases = "^3.6.4"
types-setuptools = "^57.4.7"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
