[tool.poetry]
name = "datapipe-core"
version = "0.11.0-beta.2"
description = ""
authors = ["Andrey Tatarinov <a@tatarinov.co>"]
packages = [
    { include = "datapipe" }
]

[tool.poetry.dependencies]
python = "^3.8"
fsspec = "==2021.11.1"
gcsfs = "==2021.11.1"
s3fs = "==2021.11.1"

pandas = "^1.2.0"
numpy = "^1.21.0"
SQLAlchemy = "^1.4.25"
psycopg2_binary = ">=2.8.4"
cloudpickle = ">=1.6.0"
PyYAML = ">=5.3.1"
Pillow = "^9.0.0"
tqdm = ">=4.60.0"
toml = ">=0.10.2"
click = ">=7.1.2"
requests = ">=2.24.0"
iteration-utilities = ">=0.11.0"
cityhash = "^0.2.3"

opentelemetry-api = "^1.8.0"
opentelemetry-sdk = "^1.8.0"
opentelemetry-instrumentation-sqlalchemy = "^0.27b0"
opentelemetry-exporter-jaeger = "^1.8.0"

xlrd = {version=">=2.0.1", optional=true}
openpyxl = {version=">=3.0.7", optional=true}
pymilvus = {version="^2.0.2", optional=true}

dash = {version="==2.3.*", optional=true}
dash_bootstrap_components = {version="== 0.12.*", optional=true}
dash_interactive_graphviz = {version="==0.3.*", optional=true}

[tool.poetry.extras]

excel = ["xlrd", "openpyxl"]
ui = ["dash", "dash_bootstrap_components", "dash_interactive_graphviz"]
milvus = ["pymilvus"]

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
flake8 = "^3.9.2"
mypy = "^0.910"
black = "^21.7b0"
pandas-stubs = "^1.2.0"
types-requests = "^2.25.6"
pytest-cases = "^3.6.4"
types-setuptools = "^57.4.7"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
