[tool.poetry]
name = "datapipe"
version = "0.9.12"
description = ""
authors = ["Andrey Tatarinov <a@tatarinov.co>"]

exclude=["tests", "examples"]

[tool.poetry.dependencies]
python = "^3.8"
fsspec = "==2021.5.0"
gcsfs = "==2021.5.0"

pandas = "^1.2.0"
numpy = "^1.21.0"
SQLAlchemy = "^1.4.25"
psycopg2_binary = ">=2.8.4"
cloudpickle = ">=1.6.0"
PyYAML = ">=5.3.1"
Pillow = "^8.3.1"
tqdm = ">=4.60.0"
toml = ">=0.10.2"
click = ">=7.1.2"
requests = ">=2.24.0"
iteration-utilities = ">=0.11.0"
cityhash = "^0.2.3"

xlrd = {version=">=2.0.1", optional=true}
openpyxl = {version=">=3.0.7", optional=true}

dash = {version="==1.20.*", optional=true}
dash_bootstrap_components = {version="== 0.12.*", optional=true}
dash_interactive_graphviz = {version="==0.3.*", optional=true}
label-studio = {version="^1.3.0", optional=true}

[tool.poetry.extras]

excel = ["xlrd", "openpyxl"]
ui = ["dash", "dash_bootstrap_components", "dash_interactive_graphviz"]
label-studio = ["label-studio"]

[tool.poetry.dev-dependencies]
pytest = "*"
flake8 = "^3.9.2"
mypy = "^0.910"
black = "^21.7b0"
pandas-stubs = "^1.2.0"
types-requests = "^2.25.6"
pytest-cases = "^3.6.4"
ipykernel = "^6.4.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
