DB_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/postgres

LOCAL_IMAGES_DIR=./data/images
LABELS_JSON=./data/labels.json
EMBEDDINGS_DIR=./data/embeddings

FIFTYONE_DATASET_NAME=datapipe_embedder_fiftyone
