name: Test examples

on:
  push:
    paths:
      - ".github/workflows/test_examples.yaml"
      - "examples/**"
      - "datapipe/**"
      - "pyproject.toml"

jobs:
  test-examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          # - "3.8"
          # - "3.9"
          - "3.10"
          # - "3.11"
        example:
          - datatable_batch_transform
          - image_resize
          - many_to_zero
          - model_inference
          - one_to_many_pipeline
        executor:
          - SingleThreadExecutor
          - RayExecutor

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
      
      - name: Install dependencies
        run: |
          pip install ".[sqlite,excel,milvus,gcsfs,s3fs,redis,qdrant,gcp,ray]"

      - name: Test example
        run: |
          cd examples/${{ matrix.example }}
          datapipe db create-all
          datapipe --executor ${{ matrix.executor }} step run
